

<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">
<title>Новости нашего сайта</title>

</head>

<body>
  <%- include('blocks/menu.ejs') -%>

<h1>Новости</h1>
<h2><%= newsID %></h2>
</body>

</html>
